{% extends 'layouts/base.twig' %}

{% block content %}
お名前<br>
{{ onamae }}<br><br>
メールアドレス<br>
{{ email }}<br><br>
郵便番号<br>
{{ postal }}<br><br>
住所<br>
{{ addres }}<br><br>
電話番号<br>
{{ tel }}<br><br>

<form action="shop_kantan_done.php" method="post">
    <input type="hidden" name="onamae" value="{{ onamae }}">
    <input type="hidden" name="email" value="{{ email }}">
    <input type="hidden" name="postal" value="{{ postal }}">
    <input type="hidden" name="addres" value="{{ addres }}">
    <input type="hidden" name="tel" value="{{ tel }}">
    <input type="button" value="戻る" onclick="history.back()">
    <input type="submit" value="OK">
</form>
{% endblock %}