{% extends 'layouts/base.twig' %}

{% block header %}
    {% if login %}
        ようこそ{{ member_name }}様
        <a href='../member_login/member_logout.php'>ログアウト</a><br>
        <br>
    {% else %}
        ようこそゲスト様
        <a href="../member_login/member_login.html">会員ログイン</a><br>
        <br>
    {% endif %}
{% endblock %}

{% block content %}
<form action="kazu_change.php" method="post">
    <table border="1">
        <thead>
        <tr>
            <th>商品</th>
            <th>商品画像</th>
            <th>価格</th>
            <th>数量</th>
            <th>小計</th>
            <th>削除</th>
        </tr>
        </thead>
        <tbody>
        {% for i in 1..products_max %}
        <tr>
            <input type="hidden" name="cart{{ i - 1 }}" value="{{ products[i - 1].cart }}">
            <td>{{ products[i - 1].name }}</td>
            <td><img src='../product/gazou/{{ products[i - 1].gazou_name }}'></td>
            <td>{{ products[i - 1].price }}円</td>
            <td><input type="text" name="kazu{{ i - 1 }}" value="{{ products[i - 1].kazu }}"></td>
            <td>{{ products[i - 1].price * products[i - 1].kazu }}円</td>
            <td><input type="checkbox" name="sakujo{{ i - 1 }}"></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <input type="hidden" name="max" value="{{ products_max }}">
    <input type="submit" value="数量変更"><br>
</form>

<br>

{% if login %}
<a href="shop_kantan_check.php">会員かんたん注文に進む</a><br>
{% else %}
<a href="shop_form.html">ご購入手続きに進む</a><br>
{% endif %}

<br>
<a href="index.php">一覧に戻る</a>
{% endblock %}