{% extends 'layouts/base.twig' %}

{% block header %}
    {% if login %}
        ようこそ{{ member_name }}様
        <a href='../member_login/member_logout.php'>ログアウト</a><br>
        <br>
    {% else %}
        ようこそゲスト様
        <a href="../member_login/member_login.html">会員ログイン</a><br>
        <br>
    {% endif %}
{% endblock %}

{% block content %}
商品コード：{{ product.code }}<br>
商品名：{{ product.name }}<br>
価格：{{ product.price }}円<br>
<img src="../product/gazou/{{ product.gazou_name }}"><br>
<a href="shop_cartin.php?procode={{ product.code }}">カートに入れる</a><br>
<form>
    <input type="button" onclick="history.back()" value="戻る">
</form>
{% endblock %}